<segment class="ui rasied segmemnt">
  <h2 class="ui dividing header">BMI</h2>
      {{> bmi}}
    </section>
    <section class="ui segment" id="assessmentTabs" style="overflow:auto;max-height:600px;min-height:250px;">
      <h2 class="ui dividing header">Assessments</h2>
      <div class="ui pointing secondary demo menu">
        <a class="active item" data-tab="first"><i class="file text outline icon"></i>List</a>
        <a class="item" data-tab="second"><i class="plus square outline icon"></i>Add</a>
        <a class="item" data-tab="third"><i class="add to calendar icon"></i>Book</a>
      </div>

      <div class="ui active tab" data-tab="first">{{> listassessments}}</div>
      <div class="ui tab" data-tab="second" style="padding: 10px;">{{> addassessments}}</div>
      <div class="ui tab" data-tab="third" style="padding: 10px;">
        <form class="ui twelve wide form" action="/dashboard/{{member.id}}/bookassessment" method="POST">
          {{> listbookings}}
          {{> bookassessment}}
        </form>
      </div>
    </section>
    <section class="ui raised segment" id="goalTabs" style="overflow:auto;max-height:600px;min-height:250px;">
      <h2 class="ui dividing header">Goals</h2>
      <div class="ui pointing secondary demo menu">
        <a class="active item" data-tab="fourth"><i class="file text outline icon"></i>List</a>
        <a class="item" data-tab="fifth"><i class="plus square outline icon"></i>
          Add
          <div class="ui left pointing red basic label" id="noOngoingGoals" style="display: none;">0 Ongoing Goals!</div>
        </a>
      </div>

      <div class="ui active tab" data-tab="fourth">{{> listgoals}}</div>
      <div class="ui tab" data-tab="fifth" style="padding: 10px;">{{> addgoal}}</div>
</segment>