<nav class="ui menu">
  <header class="ui header item"> GYM APP</header>
  <img class="ui image" src="https://cdn.glitch.com/6daa31b4-0026-40be-9846-fddd15e9cc6c%2Fpower-fitness2.jpg?1535996694441" height="50px" width="200px">
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
     <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
