{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <img class="ui image" src="https://cdn.glitch.com/edf06a37-37fc-4388-bb16-280a55220b6e%2Ftop_banner%20(1).jpg?1535914430491" width="1300px">
  <h3>
    GYM APP
  </h3>
  <p>
    A Little GYM APP - Version 1
  </p>
</section>