{{> welcomemenu id='index' }}

<section class="ui center aligned middle aligned two column grid segment">
  <img class="ui image" src="https://cdn.glitch.com/6daa31b4-0026-40be-9846-fddd15e9cc6c%2Ftop_banner%20(1).jpg?1535996139919" width="1300px">
 <div class="column">
 <header class="ui huge header red"> BMI Tracker </header>
 <h3> Fill in your assessments week by week and track your BMI.
 Trainers will comment on your progress and encourage your to keep going!</h3>
 </div>
 <div class="column">
 <img class="ui image" src="https://cdn.glitch.com/6daa31b4-0026-40be-9846-fddd15e9cc6c%2Fpower-fitness-800x800.jpg?1535996182151">
 </div>
</section> 

